<form #form="ngForm" (submit)="onSubmit(form)" autocomplete="off">
    <input type="hidden" name="EmpId" #EmpId="ngModel" [(ngModel)]="service.formData.EmpId" class="form-control">
    <div class="form-group">
        <label>Employee Name</label>
        <input name="Name" #Name="ngModel" [(ngModel)]="service.formData.Name" class="form-control" required>
        <div class="validation-error" *ngIf="Name.invalid && Name.touched">This field is required</div>
    </div>
    <div class="form-group">
        <label>Email</label>
        <input name="EmailId" #EmailId="ngModel" [(ngModel)]="service.formData.EmailId" class="form-control" required>
        <div class="validation-error" *ngIf="EmailId.invalid && EmailId.touched">This field is required</div>
    </div>
    <div class="form-group">
        <label>Mobile</label>
        <input name="Mobile" #Mobile="ngModel" [(ngModel)]="service.formData.Mobile" class="form-control" required>
        <div class="validation-error" *ngIf="Mobile.invalid && Mobile.touched">This field is required</div>
    </div>
    <div class="form-group">
        <label>Date of Birth</label>
        <div class="input-group">
            <input class="form-control" 
                   placeholder="yyyy-mm-dd"
                   name="DOB" 
                   type="text"
                   [(ngModel)]="service.formData.DOB" 
                   ngbDatepicker 
                   #DOB="ngModel"
                   #d="ngbDatepicker">

            <div class="input-group-append">
              <button class="btn btn-outline-secondary calendar" 
                        (click)="d.toggle()" 
                        type="button"></button>
            </div>
          </div>
        <!-- <ngb-datepicker name="DOB" #DOB="ngModel" [(ngModel)]="service.formData.DOB"></ngb-datepicker> -->
        <!-- <input name="DOB" #DOB="ngModel" [(ngModel)]="service.formData.DOB" class="form-control" required> -->
        <div class="validation-error" *ngIf="DOB.invalid && DOB.touched">This field is required</div>
    </div>
        
    <div class="form-group">
        <label>Address</label>
        <input name="Address" #Address="ngModel" [(ngModel)]="service.formData.Address" class="form-control">
    </div>
    <!-- <div class="form-group">
        <label>Skill Set</label>
        <input class="form-control" required>
    </div>  [(ngModel)]="selectedItems"-->

    <div class="form-group">
        <label>Skill Set</label>
        <ng-multiselect-dropdown
            name="skillSetddl"
            #SkillSet="ngModel"
            [placeholder]="'Select Skill Set(s)'"
            [data]="service.skillSetList"
            [(ngModel)]="service.selectedSkillSetList"
            [settings]="dropdownSettings"
            (onSelect)="onItemSelect($event)"
            (onSelectAll)="onSelectAll($event)"
        ></ng-multiselect-dropdown>
    </div>

    <!-- <div class="form-group">
        <label>Manager</label>
        <input name="ManagerId" #ManagerId="ngModel" [(ngModel)]="service.formData.ManagerId" class="form-control" required>
        <div class="validation-error" *ngIf="ManagerId.invalid && ManagerId.touched">This field is required</div>
    </div> -->
    <div class="form-group">
        <label>Manager</label>
        <select name="ManagerId" #ManagerId="ngModel" 
                [(ngModel)]="service.formData.ManagerId"  
                class="form-control"          
                required>        
            <option value="0">Select Manager</option>
            <option *ngFor="let manager of service.managerList" value="{{manager.ManagerId}}">
                {{manager.ManagerName}}
            </option>
    </select>
        <div class="validation-error" *ngIf="ManagerId.invalid && ManagerId.touched">This field is required</div>
    </div>
    <div class="form-group">
        <label>Department</label>
        <select name="DeptId" #DeptId="ngModel" 
                [(ngModel)]="service.formData.DeptId" 
                class="form-control"                 
                required>
            <option value="0">Select Deparment</option>
            <option *ngFor="let dept of service.departmentList" value="{{dept.DeptId}}">
                {{dept.DeptName}} - [{{dept.DeptLocation}}]
            </option>
    </select>
        <!-- <input name="DeptId" #DeptId="ngModel" [(ngModel)]="service.formData.DeptId" class="form-control" required> -->
        <div class="validation-error" *ngIf="DeptId.invalid && DeptId.touched">This field is required</div>
    </div>
    <div class="form-group">
        <button type="submit" [disabled]="form.invalid" style="color: white;background-color: #1976d2" class="btn btn-lg btn-block">Submit</button>
    </div>
</form>